<div class="container">
  <div class="card mt-5" style="align-items: center">
    <h1>TNSIF</h1>
  </div>
  <!-- Button trigger modal -->
  <div class="text-center mt-3">
    <button
      type="button"
      class="btn btn-primary btn-lg"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Register Student
    </button>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Student</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="form-group p-2">
              <label for="name">HallTicket No :</label>
              <input
                type="number"
                #hallTicketNo
                (ngModel)="(hallTicketNo)"
                name="hallTicketNo"
                id="hallTicketNo"
                class="form-control"
                placeholder="Hallticket No"
              />
            </div>
            <div class="form-group p-2">
              <label for="name">Student Name :</label>
              <input
                type="text"
                #name
                (ngModel)="(name)"
                name="name"
                id="name"
                class="form-control"
                placeholder="Student Name"
              />
            </div>
            <div class="form-group p-2">
              <label for="name">College id :</label>
              <input
                type="number"
                #collegeId
                (ngModel)="(collegeId)"
                name="collegeId"
                id="collegeId"
                class="form-control"
                placeholder="College id"
              />
            </div>
            <div class="form-group p-2">
              <label for="name">Qualification :</label>
              <input
                type="text"
                #qualification
                (ngModel)="(qualification)"
                name="qualification"
                id="qualification"
                class="form-control"
                placeholder="Qualification"
              />
            </div>
            <div class="form-group p-2">
              <label for="name">Course :</label>
              <input
                type="text"
                #course
                (ngModel)="(course)"
                name="course"
                id="course"
                class="form-control"
                placeholder="Course"
              />
            </div>
            <div class="form-group p-2">
              <label for="name">Year of Pass :</label>
              <input
                type="text"
                #yop
                (ngModel)="(yop)"
                name="yop"
                id="yop"
                class="form-control"
                placeholder="Year of Pass"
              />
            </div>
            <div class="form-group p-2 text-center">
              <input type="submit" value="Register" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h2>Student Details</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Hallticket No</th>
          <th>Name</th>
          <th>Qualification</th>
          <th>Course</th>
          <th>Yop</th>
          <th>College Id</th>
          <th>Certificate</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <!-- <tr *ngFor="let student of studentDetails"> -->
        <!-- <td>{{ student.id }}</td>
            <td>{{ student.hallTicketNo }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.qualification }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.yop }}</td>
            <td>{{ student.collegeId }}</td> -->
        <tr>
          <td>1</td>
          <td>123456</td>
          <td>Tushar</td>
          <td>BE</td>
          <td>CSE</td>
          <td>2023</td>
          <td>2</td>

          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
            >
              Certificate
            </button>
          </td>
          <!-- <td>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="edit(student)"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteStudent(student)"
              >
                Delete
              </button>
            </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal for update -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Student</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateStudent()">
          <div class="form-group p-2">
            <label for="name">HallTicket No :</label>
            <input
              type="number"
              disabled
              #hallTicketNo
              [(ngModel)]="studentToUpdate.hallTicketNo"
              name="hallTicketNo"
              id="hallTicketNo"
              class="form-control"
              placeholder="Hallticket No"
            />
          </div>
          <div class="form-group p-2">
            <label for="name">Student Name :</label>
            <input
              type="text"
              #name
              [(ngModel)]="studentToUpdate.name"
              name="name"
              id="name"
              class="form-control"
              placeholder="Student Name"
            />
          </div>
          <div class="form-group p-2">
            <label for="name">College id :</label>
            <input
              type="number"
              disabled
              #collegeId
              [(ngModel)]="studentToUpdate.collegeId"
              name="collegeId"
              id="collegeId"
              class="form-control"
              placeholder="College id"
            />
          </div>
          <div class="form-group p-2">
            <label for="name">Qualification :</label>
            <input
              type="text"
              #qualification
              [(ngModel)]="studentToUpdate.qualification"
              name="qualification"
              id="qualification"
              class="form-control"
              placeholder="Qualification"
            />
          </div>
          <div class="form-group p-2">
            <label for="name">Course :</label>
            <input
              type="text"
              #course
              [(ngModel)]="studentToUpdate.course"
              name="course"
              id="course"
              class="form-control"
              placeholder="Course"
            />
          </div>
          <div class="form-group p-2">
            <label for="name">Year of Pass :</label>
            <input
              type="text"
              #yop
              [(ngModel)]="studentToUpdate.yop"
              name="yop"
              id="yop"
              class="form-control"
              placeholder="Year of Pass"
            />
          </div>
          <div class="form-group p-2">
            <input type="submit" value="Update" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for certificate-->
<div
  class="modal fade"
  id="exampleModal1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Certificate Code
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Certificate of Completion</h1>
        <p class="text-center">This is to certify that</p>
        <h2 class="text-center">Tushar</h2>
        <p class="text-center">Has successfully completed</p>
        <p class="text-center">Course of Study</p>
      </div>
    </div>
  </div>
</div>
